name: publish wiki
on:
  # runs on changes to the docs folder in the main branch
  push:
    branches: [ main ]
    paths:
      - 'docs/**'
  # or manually
  workflow_dispatch:
jobs:
  sync-docs:
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - name: checkout repository
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4
        with:
          path: repo
      - name: checkout wiki
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4
        with:
          repository: ${{ github.repository }}.wiki
          path: wiki
          token: ${{ secrets.CICD_TOKEN }}
      - name: configure git
        run: |
          # get the last commit author name and email
          cd repo
          COMMIT_NAME="${{ github.event.head_commit.author.name }}"
          COMMIT_EMAIL="${{ github.event.head_commit.author.email }}"
          # default to actor name if head_commit info is not available (e.g. onDispatch)
          if [ -z "$COMMIT_NAME" ]; then
            COMMIT_NAME="${{ github.actor }}"
            COMMIT_EMAIL="${{ github.actor }}@users.noreply.github.com"
          fi
          git config --global user.name "$COMMIT_NAME"
          git config --global user.email "$COMMIT_EMAIL"
          cd ..
      - name: sync docs to wiki
        run: |
          # clear wiki
          find wiki -mindepth 1 -maxdepth 1 -not -name '.git' -not -name 'img' -exec rm -rf {} \;
          # copy docs to wiki
          cp -r repo/docs/* wiki/
          cp repo/.github/CONTRIBUTING.md wiki/contributing.md
          cp repo/.github/CODE_OF_CONDUCT.md wiki/code_of_conduct.md
          cp repo/.github/SECURITY.md wiki/security.md
          cd wiki
          # rename index file
          mv README.md Home.md
          # update layout
          echo "## ▓▒▒░ &copy; 2018-$(date +"%Y") : [teXt0wnz](https://github.com/xero/text0wnz) ░▒▒▓" > _Footer.md
          echo "## **teXt0wnz wiki**\n\n<img src=https://raw.githubusercontent.com/xero/text0wnz/main/src/img/manifest/web-app-manifest-192x192.png width=150>\n\n### Users / Artists\n- [Editor Client](editor-client)\n- [Interface](interface)\n- [Key Bindings](editor-client#key-bindings--mouse-controls)\n- [PWA Install](docs/install-pwa)\n- [Font Previews](fonts)\n\n### Developers\n- [Architecture](architecture)\n- [Project Structure](project-structure)\n- [Building & Developing](building-and-developing)\n- [Testing Guide](testing)\n- [Code Quality](building-and-developing#linting-and-formatting)\n- [Environment Variables](environment-variables)\n\n### SysAdmins\n- [Webserver Config](webserver-configuration)\n- [Collaboration Server](collaboration-server)\n- [Containerization](docker)\n- [Monitoring](other-tools#monitoring-tools)\n- [CI/CD Pipeline](cicd)\n\n### Policies\n- [Security Policy](security)\n- [Privacy Policy](privacy)\n- [Code of Conduct](code_of_conduct)\n- [Contributing Guide](contributing)\n\n### Tech Specs\n- [SAUCE Format](sauce-format)\n- [XBin Format](xb-format)\n\n### Supplemental\n- [Project Logos](logos)\n- [Other Tools](other-tools)\n" > _Sidebar.md
          # fix internal markdown linx (remove .md extension)
          find . -name "*.md" -exec perl -pi -e 's/\]\((?!https?:\/\/)([^)]+)\.md([#][^)]+)?\)/](\1\2)/g' {} \;
          git add .
          if git diff --staged --quiet; then
            echo "nothing to commit"
            exit 0
          fi
          git commit -m "docs(wiki) sync"
          git push
